@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.product {
  min-width: 200px;
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: darkslateblue;
  color: white;
  border-radius: 10px;
}

.total_cost {
  margin: 10px;
  text-align: center;
}

.wrapper{
	display: table;
  width: 100%;
  height: 100%;
}
.cell{
	display: table-cell;
	vertical-align: text-top;
  text-align: center;
  width: 50%;
}